.search {
    width: 70%;
    height: 100%;
    padding-left: 30px;
}

.search input {
    width: 95%;
    height: 50px;
    padding-left: 5px;
    outline: none;
    border: none;
    transition: all 0.2s ease-in-out;

}

.search i {
    margin-right: 2px;
    color: gainsboro;
}

input:focus {
    border: 1px solid blue;
    border-radius: 10px;
}